<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="overlay">
        <div class="auth-container">
            <h2>Registration</h2>
            <div id="registerForm">
                <input type="text" id="registerUsername" placeholder="Username"><br>
                <input type="password" id="registerPassword" placeholder="Password"><br>
                <input type="password" id="registerConfirmPassword" placeholder="Confirm Password"><br>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>